In [52]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir+"/src/python") 

import data_model
import pandas as pd
import altair as alt
import numpy as np

In [2]:
my_dm = data_model.data_model(parentdir+"/data/raw")
my_dm.daily_report

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,0,NaN,NaN,NaN,Afghanistan,2021-01-20 05:21:54,33.939110,67.709953,54141,2346,46554,5241.0,Afghanistan,139.078621,4.333130
1,1,NaN,NaN,NaN,Albania,2021-01-20 05:21:54,41.153300,20.168300,68568,1287,41464,25817.0,Albania,2382.653416,1.876969
2,2,NaN,NaN,NaN,Algeria,2021-01-20 05:21:54,28.033900,1.659600,104341,2843,70933,30565.0,Algeria,237.944169,2.724720
3,3,NaN,NaN,NaN,Andorra,2021-01-20 05:21:54,42.506300,1.521800,9194,92,8349,753.0,Andorra,11899.307578,1.000653
4,4,NaN,NaN,NaN,Angola,2021-01-20 05:21:54,-11.202700,17.873900,19011,442,16822,1747.0,Angola,57.843501,2.324970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,3973,NaN,NaN,NaN,Vietnam,2021-01-20 05:21:54,14.058324,108.277199,1540,35,1402,103.0,Vietnam,1.582106,2.272727
3974,3974,NaN,NaN,NaN,West Bank and Gaza,2021-01-20 05:21:54,31.952200,35.233200,153093,1741,140914,10438.0,West Bank and Gaza,3000.990313,1.137217
3975,3975,NaN,NaN,NaN,Yemen,2021-01-20 05:21:54,15.552727,48.516388,2115,612,1422,81.0,Yemen,7.091136,28.936170
3976,3976,NaN,NaN,NaN,Zambia,2021-01-20 05:21:54,-13.133897,27.849332,39515,578,28066,10871.0,Zambia,214.942856,1.462736
3977,3977,NaN,NaN,NaN,Zimbabwe,2021-01-20 05:21:54,-19.015438,29.154857,28675,825,18110,9740.0,Zimbabwe,192.929697,2.877071

In [3]:
my_dm.daily_report.Country_Region.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'US', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [4]:
my_dm.daily_report.query(f"Country_Region == 'Canada'")

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
76,76,NaN,NaN,Alberta,Canada,2021-01-20 05:21:54,53.9333,-116.5765,117767,1463,105208,11096.0,"Alberta, Canada",2668.549828,1.242283
77,77,NaN,NaN,British Columbia,Canada,2021-01-20 05:21:54,53.7267,-127.6476,61912,1090,55099,5723.0,"British Columbia, Canada",1211.367745,1.760563
78,78,NaN,NaN,Diamond Princess,Canada,2020-12-21 13:27:30,NaN,NaN,0,1,0,NaN,"Diamond Princess, Canada",NaN,NaN
79,79,NaN,NaN,Grand Princess,Canada,2020-12-21 13:27:30,NaN,NaN,13,0,13,0.0,"Grand Princess, Canada",NaN,0.000000
80,80,NaN,NaN,Manitoba,Canada,2021-01-20 05:21:54,53.7609,-98.8139,27740,783,23869,3088.0,"Manitoba, Canada",2013.768251,2.822639
81,81,NaN,NaN,New Brunswick,Canada,2021-01-20 05:21:54,46.5653,-66.4619,1004,13,674,317.0,"New Brunswick, Canada",128.719104,1.294821
82,82,NaN,NaN,Newfoundland and Labrador,Canada,2021-01-20 05:21:54,53.1355,-57.6604,396,4,384,8.0,"Newfoundland and Labrador, Canada",75.954466,1.010101
83,83,NaN,NaN,Northwest Territories,Canada,2021-01-20 05:21:54,64.8255,-124.8457,28,0,24,4.0,"Northwest Territories,Canada",62.355247,0.000000
84,84,NaN,NaN,Nova Scotia,Canada,2021-01-20 05:21:54,44.6820,-63.7443,1561,65,1474,22.0,"Nova Scotia, Canada",159.700120,4.163997
85,85,NaN,NaN,Nunavut,Canada,2021-01-20 05:21:54,70.2998,-83.1076,266,1,265,0.0,"Nunavut, Canada",685.920578,0.375940
86,86,NaN,NaN,Ontario,Canada,2021-01-20 05:21:54,51.2538,-85.3232,247144,5501,215872,25771.0,"Ontario, Canada",1679.900124,2.225828
87,87,NaN,NaN,Prince Edward Island,Canada,2021-01-20 05:21:54,46.5107,-63.4168,110,0,103,7.0,"Prince Edward Island, Canada",69.550702,0.000000
88,88,NaN,NaN,Quebec,Canada,2021-01-20 05:21:54,52.9399,-73.5491,245734,9142,217575,19017.0,"Quebec, Canada",2878.231237,3.720283
89,89,NaN,NaN,Repatriated Travellers,Canada,2021-01-20 05:21:54,NaN,NaN,13,0,13,0.0,"Repatriated Travellers, Canada",NaN,0.000000
90,90,NaN,NaN,Saskatchewan,Canada,2021-01-20 05:21:54,52.9399,-106.4509,20871,225,16490,4156.0,"Saskatchewan, Canada",1766.235129,1.078051
91,91,NaN,NaN,Yukon,Canada,2021-01-20 05:21:54,64.2823,-135.0000,70,1,69,0.0,"Yukon, Canada",170.407517,1.428571

In [5]:
result = my_dm.daily_report.query(f"Country_Region == 'Canada'").sum(numeric_only=True)
result

Unnamed: 0               1336.000000
FIPS                        0.000000
Lat                       708.855600
Long_                   -1202.597900
Confirmed              724629.000000
Deaths                  18289.000000
Recovered              637132.000000
Active                  69209.000000
Incident_Rate           13570.660048
Case_Fatality_Ratio        21.123078
dtype: float64

In [6]:
result.Confirmed

724629.0

In [7]:
type(result)

pandas.core.series.Series

In [9]:
my_dm.times_series_confirmed

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,...,53489,53538,53584,53584,53775,53831,53938,53984,54062,54141
1,1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,...,63595,63971,64627,65334,65994,66635,67216,67690,67982,68568
2,2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,...,102144,102369,102641,102860,103127,103381,103611,103833,104092,104341
3,3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,...,8586,8586,8682,8818,8868,8946,9038,9083,9083,9194
4,4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,...,18193,18254,18343,18425,18613,18679,18765,18875,18926,19011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,267,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,...,1514,1515,1520,1521,1531,1536,1537,1537,1539,1540
268,268,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,...,147400,148171,148968,149769,150505,151142,151569,152031,152555,153093
269,269,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,...,2104,2105,2107,2109,2110,2111,2112,2112,2113,2115
270,270,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,...,27728,28596,29757,31100,32800,34278,36074,37605,38207,39515
271,271,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,...,21477,22297,23239,24256,25368,26109,26881,27203,27892,28675

In [18]:
my_dm.times_series_death

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,...,2277,2288,2301,2301,2314,2324,2336,2339,2343,2346
1,1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,...,1241,1247,1252,1256,1261,1265,1270,1277,1281,1287
2,2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,...,2807,2812,2816,2819,2822,2827,2831,2836,2840,2843
3,3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,...,85,85,86,87,88,88,91,91,91,92
4,4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,...,416,420,422,424,425,428,431,436,439,442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,267,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
268,268,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,...,1604,1614,1630,1658,1665,1687,1700,1718,1726,1741
269,269,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,...,611,612,612,612,612,612,612,612,612,612
270,270,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,...,469,471,495,509,514,527,537,546,559,578
271,271,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,...,507,528,551,589,636,666,683,713,773,825

In [25]:
df = my_dm.times_series_confirmed.copy()

In [22]:
df

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
0,0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,...,53489,53538,53584,53584,53775,53831,53938,53984,54062,54141
1,1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,...,63595,63971,64627,65334,65994,66635,67216,67690,67982,68568
2,2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,...,102144,102369,102641,102860,103127,103381,103611,103833,104092,104341
3,3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,...,8586,8586,8682,8818,8868,8946,9038,9083,9083,9194
4,4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,...,18193,18254,18343,18425,18613,18679,18765,18875,18926,19011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,267,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,...,1514,1515,1520,1521,1531,1536,1537,1537,1539,1540
268,268,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,...,147400,148171,148968,149769,150505,151142,151569,152031,152555,153093
269,269,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,...,2104,2105,2107,2109,2110,2111,2112,2112,2113,2115
270,270,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,...,27728,28596,29757,31100,32800,34278,36074,37605,38207,39515
271,271,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,...,21477,22297,23239,24256,25368,26109,26881,27203,27892,28675

In [37]:
df_country_df= pd.DataFrame(df[df["Country/Region"] == "Canada"].iloc[:, 5:].sum())

In [42]:
df_country_df = df_country_df.reset_index()
df_country_df.columns = ['date', 'total']

In [45]:
alt.Chart(df_country_df).mark_line().encode(
    x='date:T',
    y='total:Q'
)

alt.Chart(...)

In [46]:
df[df["Country/Region"] == "Vietnam"]

,Unnamed: 0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21
267,267,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,...,1514,1515,1520,1521,1531,1536,1537,1537,1539,1540

In [64]:
def get_timeserie_data_by_country(df, country):
    country_data = pd.DataFrame(df[df["Country/Region"] == country].iloc[:, 5:].sum())
    country_data = country_data.reset_index()
    country_data.columns = ['date', 'total']
    yesterday_data = np.zeros(country_data.total.shape[0])
    yesterday_data[1:] = country_data.total.to_numpy()[0:-1]
    country_data["yesterday"] = yesterday_data
    country_data["new"] = country_data.total - country_data["yesterday"]

    return country_data

country_data = get_timeserie_data_by_country(df, "Vietnam")

In [65]:
country_data

        date  total  yesterday  new
0    1/22/20      0        0.0  0.0
1    1/23/20      2        0.0  2.0
2    1/24/20      2        2.0  0.0
3    1/25/20      2        2.0  0.0
4    1/26/20      2        2.0  0.0
..       ...    ...        ...  ...
359  1/15/21   1536     1531.0  5.0
360  1/16/21   1537     1536.0  1.0
361  1/17/21   1537     1537.0  0.0
362  1/18/21   1539     1537.0  2.0
363  1/19/21   1540     1539.0  1.0

[364 rows x 4 columns]